
body{
    background-color: #4f0d58
}

#content{
    background-color: white;
    height: 400px; width: 700px;
    margin: 50px;
    border-radius: 5px;
    padding: 20px;
    display: grid;
    grid-template-columns: 0.4fr 1.6fr;
}

.blocks{
    margin-left: 30px;
    padding: 10px;
    display: grid;
    grid-template-columns: 1fr;
    grid-template-rows: 1fr 1fr 1fr 1fr 1fr;
}
 .block{
     display: grid;
     grid-template-columns: 1fr;
     grid-template-rows: 0.3fr 0.7fr;
 }
 .block .question{
     display: grid;
     grid-template-columns: 0.9fr 0.1fr;
 }